<div class="aula">
    <p>list-render works</p>
    <h2>Animais: <a routerlink="/two-way-biding">+</a></h2>
    <ul>
        <li *ngFor="let animal of animais">
            Nome: {{animal.nome}} - Tipo: {{animal.tipo}}
            <a routerLink="/list/{{animal.id}}">nome: {{animal.nome}}</a> - Tipo: {{animal.tipo}}
            <button (click)="mostraIdade(animal)">Idade</button>
            <button (click)="removeAnimal(animal)">Excluir</button>
        </li>
        <h2>{{idadeAnimal}}</h2>
    </ul>
</div>
