<!--
<h1> Hello World - Angular</h1>
<app-primeiro-componente></app-primeiro-componente>
<app-diretivas></app-diretivas>
<app-if-reder></app-if-reder>
<app-eventos></app-eventos>
<app-emitter></app-emitter>
<app-change-number></app-change-number>
<app-list-render></app-list-render>
<app-pipes></app-pipes>
<app-two-way-biding></app-two-way-biding>
-->
<nav>
    <h1>Curso Angular</h1>
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/app-diretivas">Diretivas</a></li>
        <li><a routerLink="/if-reder">If</a></li>
        <li><a routerLink="/app-eventos">Eventos</a></li>
        <li><a routerLink="/app-emitter">Emitter</a></li>
        <li><a routerLink="/app-list-render">Animais</a></li>
        <li><a routerLink="/app-pipes">Pipes</a></li>
        <li><a routerLink="/app-two-way-biding">Two-way</a></li>
    </ul>
</nav>
<section>
    <h3>Seja bem vindo ao Projeto Curso-Angular</h3>
    <p>Este projeto é uma Introdução ao framework Angular</p>
    <router-outlet></router-outlet>
    
</section>
<footer>
    Luis Gustavo &copy;2023
</footer>